header#nav.pure-u(ng-class='{active: my.switchMenu}')
    h1.nav-title
        a.nav-menu-button(href='#' ng-click='my.menuActive()') Main        
    .nav-inner           
        .pure-menu
            ul.pure-menu-list
                li.pure-menu-item
                    a.pure-menu-link.active-link(href='#') Overview