$mobile: 480px;
$tablet: 765px;
$desktop: 1024px;
$desktop-xl: 1280px;
$desktop-xxl: 1440px;


$active-color: rgb(255, 58, 81);
$active-color-light: rgb(255, 255, 255);
$h-color: rgb(86, 90, 105);
$button-color: rgb(39, 204, 192);
$shadow-color: rgb(200, 200, 200);